* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;

}

body {
    display: flex;
    flex-direction: column;
}
.header-im{
    padding-right: 0px;
    padding-left: 20px;
    margin-right:1200px;
    padding-top: 0px;
    padding-bottom: 0px;
    }
.AuthButton{

    background-color: black;
    margin-top: 40px;
    color:white;

    padding-top: 25px;
    font-size: 18px; ;

    margin-right: 50px;
    width: 200px;
    height: 80px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s;
}
.colorM{
    margin-top: 40px;
    background-color: black;
    height: 80px;
    color:white;
    padding-top: 25px;
    font-size: 18px;
    margin-right: 50px;
    width: 220px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s;
}
.header-line {

    display: flex;
    height: 160px;
    background-color: #f39c12;
}
.logo {

    margin-right: 250px;
}
.container {

    width: 80%;
    margin: 0 auto;
}
.mInfo{
    height: 280px;
    margin: 150px auto;
    width: 80%;
}
.prava {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    color:white;
}
header {
    height: auto; /* Для авто-висоти */
    padding-bottom: 20px;
    text-align: center;
}
.p1{
    font-size:35px;
    color: #333333;
    padding-bottom: 40px;
    margin: 20px 0;
}
header h1 {
    color: #333333; /* Чорний колір для заголовка */
    font-size: 55px;
}

header p {
    color: #333333;

    margin: 20px 0;
}

.cta-button {
    background-color: #f39c12;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #d35400;
}

section {
    padding: 60px 0;
    flex-grow: 1; /* Забезпечує розширення секції */
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.benefits-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    border-radius: 8px;
    font-size: 25px;
}

footer {
    background-color: #333;

    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}
