
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;

}

body {
    display: flex;
    flex-direction: column;
}
.wrapper{

    position: relative;
    overflow: hidden;

}
.content{
    padding: 50px 0;
}

.tabs__items{
    display:flex;
    margin: 0 auto;
    width: 100%;
    padding-top: 8px;
    background-color: gray;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.tabs__item{
    flex: 0 1 25%;


    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 25px
}
ul1{
    padding: 20px;font-size: 25px;line-height:35px ;
}
.tabs__body{}
.tabs__block{
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 150px;
    padding: 20px;font-size: 18px;line-height:24px ;display: none}
.tabs__block:target{
    display: block;
}


header {
    height: auto; /* Для авто-висоти */
    padding-bottom: 20px;
    text-align: center;
}
.header-line {

    display: flex;
    height: 160px;
    background-color: #f39c12;
}
.logo {

    margin-right: 250px;
}


.header-im{
    padding-right: 0px;
    padding-left: 20px;
    margin-right:1200px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.AuthButton{

    background-color: black;
    margin-top: 40px;
    color:white;

    padding-top: 25px;
    font-size: 18px; ;

    margin-right: 50px;
    width: 200px;
    height: 80px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s;
}
.colorM{
    margin-top: 40px;
    background-color: black;
    height: 80px;
    color:white;
    padding-top: 25px;
    font-size: 18px;
    margin-right: 50px;
    width: 220px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s;
}
.pages {
    font-size: 28px;
    display: flex;
    padding: 10px;
    align-items: center;
    white-space: nowrap;
}


.wrapper{

    position: relative;
    overflow: hidden;
}
.content{
    padding: 50px 0;


}
.tabs{
    margin:0px 0px 200px 0px;


}
.h1{

    font-size: 35px;
    margin-left: 450px;
    padding-bottom: 60px;
}
.h2{

    font-size: 35px;
    margin-left: 450px;
    padding-bottom: 60px;
}
.h3{

    font-size: 35px;
    margin-left: 540px;
    padding-bottom: 60px;
}
.h4{

    font-size: 35px;
    margin-left: 535px;
    padding-bottom: 60px;
}
.pages a {

    color: white;
    margin-left: 20px;
    font-size: 30px;
}

form-group{
    margin-right: 600px;
}
.btn-success{
    margin-left: 39%;

    height: 70px;
    margin-top: 40px;
    width: 22%;
}
